/* styles.css */
#buttons {
   width: 100vw;
   margin: auto;
   display: flex;
   justify-content: space-around;
}
body {
   background-color: #A164DF;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
button {
   color: white;
   background-color: rgba(0, 0, 0, 0.525);
   height: 50px;
   width: 100px;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer; /* Changes cursor to pointer on hover */
}
button:hover {
   background-color: rgba(0, 0, 0, 0.8); /* Add a hover effect */
}
